################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/bin/Debug
/packages
/obj/Debug
/BerlinClock.v12.suo
/.vs/BerlinClock/v16
*.user
